<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choe.mysql.dao.CategoryMapper">

    <resultMap id="categoryMap" type="CategoryBean">
        <id column="id" property="id"></id>
        <collection property="childrenList" ofType="CategoryBean" select="selectByPid" column="id">

        </collection>
    </resultMap>

    <select id="getCategoryList" parameterType="CategoryBean" resultMap="categoryMap">

        select * from category where level = 1
        order by create_time desc
        <if test="isOther !=null and isOther == 0">
            limit 1
        </if>
        ;

    </select>

    <select id = "selectByPid" resultType="CategoryBean">
        select * from category where level = 2 and pid = #{id};
    </select>
</mapper>