<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choe.mysql.dao.NewOrderMapper">



    <insert id="add" parameterType="NewOrderBean" useGeneratedKeys="true" keyProperty="id">


        insert into `order`
        (
        id,
        orderNo,
        `type`,
        amount,
        discounted_amount,
        supplier_id,
        supplier_mobile,
        supplier_name,
        pedlarId,
        pedlar_mobile,
        status,
        reserve_startTime,
        reserve_endTime,
        create_time,
        assign_time,
        response_time,
        arrive_time,
        confirm_time,
        finish_time,
        evaluation_score,
        supplier_point,
        pedlar_point,
        addr_detail,
        area_pro,
        area_city,
        area_county,
        area_town,
        remark,
        delivery_id
        )
        values
        (
        #{id},
        #{orderNo},
        #{type},
        #{amount},
        #{discounted_amount},
        #{supplier_id},
        #{supplier_mobile},
        #{supplier_name},
        #{pedlarId},
        #{pedlar_mobile},
        #{status},
        #{reserve_startTime},
        #{reserve_endTime},
        #{create_time},
        #{assign_time},
        #{response_time},
        #{arrive_time},
        #{confirm_time},
        #{finish_time},
        #{evaluation_score},
        #{supplier_point},
        #{pedlar_point},
        #{addr_detail},
        #{area_pro},
        #{area_city},
        #{area_county},
        #{area_town},
        #{remark},
        #{delivery_id}
        )
    </insert>

</mapper>