<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choe.mysql.dao.StudentMapper">


    <insert id="add" parameterType="Student" useGeneratedKeys="true" keyProperty="id">
        insert into student
        (
            <if test="name != null">
                name ,
            </if>
            <if test="height != null" >
                height
            </if>
        )
        values (
            <if test="name != null">
                #{name} ,
            </if>
            <if test="height != null" >
                #{height}
            </if>
        )
    </insert>

    <update id="update" parameterType="Student">
        update student set
        <if test="name != null">
            name = #{name},
        </if>
        <if test="height != null">
            height = #{height}
        </if>
        where id = #{id}
    </update>
</mapper>